<!DOCTYPE html>
<html lang="en">
<head>
  <title>Darren Coleman</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/a64b6e0374.js"></script>
  <link rel="stylesheet" href="css/Site.css">
  <link rel="shortcut icon" href="Images/code.png" type="image/x-icon" /> <!-- https://www.google.ie/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjoiObdzLzQAhVCLsAKHevlDEMQjRwIBw&url=http%3A%2F%2Fourcodeworld.com%2Fabout&psig=AFQjCNHZIq0tsmu-mLArOQ6wWw7XHdxlLw&ust=1479912192312819 -->
</head>

<body data-spy="scroll" data-target=".navbar">

	<nav id="nn" class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" id="Daniel" href="#"><!-- <img src="Images/code.png" height="30px" alt="Darren Coleman" style="display: inline; padding-right: 10px;"/> -->Darren Coleman</a>
		</div>
		<div>
		  <div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
			  <li><a class="scrollable" href="#Experience"><button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge">Experience</button></a></li>
			  <li><a class="scrollable" href="#Education"><button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge">Education</button></a></li></a></li>
			  <li><a class="scrollable" href="#Projects"><button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge">Projects</button></a></li></a></li>
			  <li><a class="scrollable" href="#4thYearProjectSoftware"><button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge">4th Year Project Software</button></a></li></a></li>
			  <li><a class="scrollable" href="#ContactMe"><button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge">Contact Me</button></a></li></a></li>
		   	  <li><a href=""><button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge">CA 2 Info</button></a></li></a></li>

			</ul>
		  </div>
		</div>
	  </div>
	</nav>
	
	<section id="topBlock" style="padding-top: 50px;">
	
			<div class="container">    
				<div style="text-align: center; padding-top: 0;">
					<img src="Images/me.jpg" class="img-rounded" alt="Cinque Terre"  style="max-width: 100%;"  > 
					<h2>Darren Coleman</h2>
					<h1>Network Operation Technician <br/>@ Equinix</h1>
					<a href="https://www.youtube.com/watch?v=aFS48D1XoEs"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#contactMeModal">Equinix Ireland</button></a>
					<a href="Darren Coleman - CV.pdf"><button type="button" class="btn btn-info">Download C.V.</button></a>
				</div>
			</div>
	</section>
	
	<div id="clearfooter" style="background-color: #27272b"></div>
  
	<section class="nicheBlock"id="Experience">
	<div id="clearfooter"></div>
		</br><h1 style="padding: 40px;"><strong>Work Experience</strong><h1>
		<div class="experienceSection margin-bottom">
			  <img href="http://www.equinix.ie" src="Images/equinix.JPG" class="img-rounded" alt="Cinque Terre" alt="Equinix" style="width:100%" class="w3-hover-opacity">
				<p style="font-size: 20px;"><b></b></p>
				<p style="font-size: 20px;">Network Operations Technician</p>
				<p class="opacity" style="font-size: 20px;">February 2016 - Present</p>
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#equinixModal">Role Info</button>
			</div>
			<div style="padding-left: 20px" class="experienceSection margin-bottom">
			  <img src="Images/home-store.jpg" class="img-rounded" alt="Cinque Terre" alt="Homestore Logo" style="width:100%" class="w3-hover-opacity">
				<p style="font-size: 20px;"><b></b></p>
				<p style="font-size: 20px; padding-top: 100px;">Sales Representative</p>
				<p class="opacity" style="font-size: 20px;">May 2012 - January 2016</p>
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#homestoreModal">Role Info</button>
			</div>
		<div class="experience-row-padding experience-padding-32" style="margin:0 -16px">
			<div class="experienceSection margin-bottom">
			  <img src="Images/echologo.png" class="img-rounded" alt="Cinque Terre" alt="Echo Logo" style="width:100%" class="w3-hover-opacity">
				<p style="font-size: 20px;"><b></b></p>
				<p style="font-size: 20px; padding-top: 135px;" >Sales Person/Local Distributor</p>
				<p class="opacity" style="font-size: 20px;">June 2007 - August 2013</p>
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#echoModal">Role Info</button>
			</div>
		</div>
	</section>
	
	<section id="Education">
	<br><br><br><br><h1 style="text-align: center;"><strong>Grades</strong></h1>
		<div id="clearfooter"></div>
		<div class="col-sm-4">
			<h2>Bachelor of Science I.T.T. Dublin Honours Degree 2013-Present</h2>
			<ul class="nav nav-pills nav-stacked">
				<li style="padding-top: 30px;"><a data-toggle="pill" href="#fourthYearProject">Fourth Year</a></li>
				<li style="padding-top: 30px;"><a data-toggle="pill" href="#thirdYearProject">Third Year</a></li>
				<li style="padding-top: 30px;"><a data-toggle="pill" href="#secondYearProject">Second Year</a></li>
				<li style="padding-top: 30px;"><a data-toggle="pill" href="#firstYearProject">First Year</a></li>
			</ul>
		</div>
		<div class="container" ng-app="education" ng-controller="educationController" >
			<div class="col-sm-8">
				<div class="tab-content">
					<div id="fourthYearProject" class="tab-pane fade in active">
						<h2></h2>
						
						  <h2>Fourth Year</h2>
						  <p></p>            
						   <table class="table table-bordered">
							<thead>
							  <tr>
								<th>Module</th>
								<th>Grade</th>
							  </tr>
							</thead>
							<tbody> 
								<tr ng-repeat="hey in education.fourthYear">
										<td>{{hey.subject}}</td>
										<td>{{hey.grade}}</td>
																
							  </tr>
							</tbody>
						  </table>
				
						
					</div>
					<div id="thirdYearProject" class="tab-pane fade">
						<h2>Third Year</h2>
						  <table class="table table-bordered">
							<thead>
							  <tr>
								<th>Module</th>
								<th>Grade</th>
							  </tr>
							</thead>
							<tbody> 
								<tr ng-repeat="hey in education.thirdYear">
										<td>{{hey.subject}}</td>
										<td>{{hey.grade}}</td>
																
							  </tr>
							</tbody>
						  </table>
						<p></p>
					</div>
					<div id="secondYearProject" class="tab-pane fade">
						<h2>Second Year</h2>
						<table class="table table-bordered">
							<thead>
							  <tr>
								<th>Module</th>
								<th>Grade</th>
							  </tr>
							</thead>
							<tbody> 
								<tr ng-repeat="hey in education.secondYear">
										<td>{{hey.subject}}</td>
										<td>{{hey.grade}}</td>
																
							  </tr>
							</tbody>
						  </table>
						
						<p></p>
					</div>
					<div id="firstYearProject" class="tab-pane fade">
						<h2>First Year</h2>
						<table class="table table-bordered">
							<thead>
							  <tr>
								<th>Module</th>
								<th>Grade</th>
							  </tr>
							</thead>
							<tbody> 
								<tr ng-repeat="hey in education.firstYear">
										<td>{{hey.subject}}</td>
										<td>{{hey.grade}}</td>
																
							  </tr>
							</tbody>
						  </table>
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	
	<!-- Modals for work experiences -->
	<div class="modal fade" id="echoModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header"style="text-align: center;">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title"><b>Sales Person/Local Distributor</b></h4>
			  <img src="Images/echologo.png" alt="echo Logo"/>
			</div>
			<div class="modal-body">
		<p>In early 2010 I have begun operating in my local area of Kilnamanagh as a distributor for the Tallaght Echo. This consists of many operations in which I carried out which I will now outline:
              <ul>
				<li>Managing staff numbers of over 15 on a weekly basis,</li>
				<li>Liaising with company reps,</li>
				<li>Provide a service to over 500 customers each week,</li>
				<li>Maintain a high level of turnover through efficiency,</li>
				<li>Manage large sums of cash,</li>
				<li>Calculations to be done for staff & company funds,</li>
				<li>Maintaining and dealing with any customer or staff issues.</li>
			  </ul>

				<p>Within my role I have explored many expansion opportunities in which I have also set up another family member with a distributor role in which I assisted them in maintaining an already large customer base and in recruiting new staff for the vacant roles.</p>

				<p>In 2007 I began working for the Tallaght Echo as a Sales person in my local area. I began with a customer base of under 30 homes and over a short period of time had grown this to over 60 through networking, a high level of customer service and the assurance to all customers that each week I would be around at the same time and could cater to any of their needs that would relate to the purchase of the newspaper.</p>

				<p>Other key aspects of my Role included handling large sums of cash, being punctual, being extremely customer oriented, being available to assist upon other routes if needed, assisting in the recruitment of new staff and also training in new staff and assisting them in any queries on sales tips and how to approach their new role.</p>
        </p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
		<div id="clearfooter"></div>
	</div>
	
	<div class="modal fade" id="equinixModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header" style="text-align: center;">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title"><b>Network Operations Technician</b></h4>
			  <img src="Images/equinixmoreinfo.png" alt="Equinix Logo" style="width:50%" />
			</div>
			<div class="modal-body">
				<p>Outside of academia I currently work for Equinix in one of their Dublin based data centres as a Network Operations Technician. I have already completed a 6 month internship here which ran from February to July and I am now still working here in a part-time engagement while I complete my degree.

<p>Responsibilities include support and development activities that span a wide breadth and depth of technologies, including IP network services, security, storage systems, database and systems administration, design and processing of documentation, project management, help desk duties and facilities management.</p>

    <p>     <strong>Customer Support:</strong>
		<ul>
			<li>Maintain a high level of system reliability by prioritising and resolving trouble tickets efficiently.</li>
			<li>Acting as the first point of contact for handling customer requests and responding through remote assistance within agreed SLA.</li>
			<li>Escalation point and technical troubleshooter for all system and network hardware problems.</li>
		</ul>
    </p>

    <p>     <strong>Communication:</strong>
	    <ul>
			<li>Maintain excellent communication with the data center manager and other engineers on all tasks and projects.</li>
			<li>Responsible for communicating with customers, peers, team and managers as well as contractors regarding incident and change management.</li> 
		</ul>	
    </p>

	<p>     <strong>Operational Support:</strong>
		<ul>
			<li>Responsible for monitoring customer applications and Equinix's operational architecture.</li>
			<li>Excellent written and verbal communication skills specifically around report writing.</li>
			<li>Strong project management skills.</li>
			<li>Ability to liaise effectively with internal and external customers.</li>
			<li>Ability to apply company procedures.</li>
			<li>Excellent telephone manner and listening skills.</li>
			<li>Capability to work independently and as part of a team.</li>
		</ul>
	</p>
</p>
				
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
		<div id="clearfooter"></div>
	</div>
	
	<div class="modal fade" id="homestoreModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header" style="text-align: center;">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title"><b>Sales Representative</b></h4>
			  <img src="Images/home-store.jpg" class="img-rounded" alt="Cinque Terre" alt="HS Logo" style="width:30%">
			</div>
			<div class="modal-body">
				<p>
					<p>During my time in Home Store & More I worked as a sales representative.</p>

					<p>My main role in the company was to:</p>

					<p>Assist customers with sales and recommend products which would suit their lifestyle and the type of purchase they were making. To fulfil this role to my full potential I was enabled by managerial staff to revise online learning material that related to products they provided. Availing of this enabled me to excel with sales I made by ensuring I covered every potential base with a customer in relation to the products the company had to offer that I thought they may have an interest in purchasing.
					This particular role helped me learn many aspects of the retail industry, how products are marketed and advertised towards customers and most importantly, how essential and valuable customer loyalty is to a business.</p>

				</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
		<div id="clearfooter"></div>
	</div>
	<!-- End of modals -->
	
	<section id="Projects">
		<div id="clearfooter"></div>
		</br><h1 style="padding: 40px; padding-bottom: 25px;"><strong>Projects</strong><h1>
		<div class="experienceSection margin-bottom">
			  <img src="Images/equinix.JPG" class="img-rounded" alt="Cinque Terre" alt="InfoPath" style="width:100%" class="w3-hover-opacity">
				<p style="font-size: 20px;"><b></b></p>
				<p style="font-size: 20px;">Microsoft InfoPath - Business Process Analysis</p>
				<p class="opacity" style="font-size: 20px;">3rd Year - 2016</p>
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#equinixModal">Role Portfolio</button>
			</div>
			<div class="experienceSection margin-bottom">
			  <img src="Images/home-store.jpg" class="img-rounded" alt="Cinque Terre" alt="Tableau" style="width:400px; height: 292px;" class="w3-hover-opacity">
				<p style="font-size: 20px;"><b></b></p>
				<p style="font-size: 20px;">Tableau - NFL Visualisations</p>
				<p class="opacity" style="font-size: 20px;">4th Year - 2016</p>
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#homestoreModal">Project Portfolio</button>
			</div>
	</section>

	<section id="4thYearProjectSoftware">
		<div id="clearfooter"></div>
		</br></br><h1 style="text-align: center;"><strong>4th Year Project Software<strong></h1>
		<div class="container" style="padding: 30px;">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="min-height: 100%">
    <div class="item active">
      <img style="margin: auto;" src="Images/tableau1.png" alt="Tableau" height="40%" width="40%"/>
    </div>

    <div class="item">
      <img style="margin: auto;" align="middle" src="Images/qlik.png" alt="qlik" height="40%" width="40%"/>
    </div>

    <div class="item">
      <img style="margin: auto;" align="middle" src="Images/micro.png" alt="micro" height="80%" width="40%"/>
    </div>

    <div class="item">
      <img style="margin: auto;" align="middle" src="Images/powerbi.png" alt="powerbi" height="60%" width="60%"/>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
	</section>
	
	
	
	<!-- Contact Section
    ==========================================-->
    <div id="ContactMe">
	<div id="clearfooter"></div>
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center" style="padding: 20px">
                        <h2>Feel free to <strong>contact me</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <small><em></em></small>            
                    </div>

                    <form action="https://www.enformed.io/ykofg15c" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Name</label>
                                    <input type="name" name="name" class="form-control" id="exampleInputPassword1" placeholder="Name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Message</label>
                            <textarea class="form-control" name="message" rows="3" placeholder="Enter Message"></textarea>
                        </div>
                        
                        <button type="submit" class="btn tf-btn btn-default">Submit</button>
                    </form>

                </div>
            </div>

        </div>
    </div>
	
	<div style="float: left;" class="container-fluid"  style="width: 50%">
	<div class="row">
            <div class="panel panel-default weather-panel">
                <div class="panel-heading">Current weather<br><small id="currentTime" class="supersmall"></small></div>
                <div class="row">
                    <div class="col-sm-6 wi" id="currentIcon"></div>
                    <div class="col-sm-6" style="padding: 0px;">
                        <h1 class="temp"><span id="currentTemperature"></span><span>°</span></h1>
                        <small id="currentSummary"></small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><span></span><br>
                        <span>wind: </span><span id="currentWind"></span><span> mph(s)</span><br>
                        <span id="hourlySummary"></span>
                    </div>
                </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
	</div>
</div>
	
	<div id="googleMap"/> 
	
	
	
	<!-- FOOTER -->
	<div id="clearfooter"></div>
	<div class="fixedFooter">
		<div class="footerContainer" style="max-width: 1091px; margin: 0 auto;">
			<p class="footer">&copy; Curriculum Vitae <a class="fa fa-linkedin" style="padding: 10px;" target="_blank" href="https://ie.linkedin.com/in/darrencolemanitt
"></a> <a class="fa fa-github" style="padding: 10px;" target="_blank" href="https://github.com/DarrenColeman" aria-hidden="true"></a></p>
		</div>
	</div>
</body>
	<!-- Angular CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"> </script>
	<!-- Google Map API -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeYwIkZhXOIK3N94V9mnemvY7wKC8VFq0"></script>
	<!-- Custom Scripts -->
	<script src="js/googleMap.js"></script>
	<script src="js/email.js"></script>
	<script src="js/subjectResults.js"></script>
	<script>
		<!-- JQuery for page scrolling -->
		$(document).ready(function(){
			  $(".scrollable").on('click', function(event) {

				if (this.hash !== "") {
				  event.preventDefault();

				  // Store hash
				  var hash = this.hash;

				  $('html, body').animate({
					scrollTop: $(hash).offset().top
				  }, 800, function(){
			   
					window.location.hash = hash;
				  });
				}
			  });
			});
	</script>
	
	<script>
	
    	$(document).ready(function(){
			var apiKey = 'b04dbf475994a98f5849aa6856a4596d';
            var curl = 'https://api.forecast.io/forecast/';
            var lati = 40.7146;
            var longi = -74.0071;
            var data;
			$.ajax({
			    type: "GET",
			    url: curl + apiKey +"/"+ lati +","+ longi +"?callback=?",
			    dataType: "json",
			    success: function(data){
					//var json = $.parseJSON(data);
					console.log(data);
					$("#currentTemperature").append(Math.floor(data.currently.apparentTemperature));
                    $("#currentTime").append(Date(data.currently.time));
                        if(data.currently.icon == 'clear-day') { $("#currentIcon").addClass("wi-day-sunny") };
                        if(data.currently.icon == 'clear-night') { $("#currentIcon").addClass("wi-night-clear") };
                        if(data.currently.icon == 'rain') { $("#currentIcon").addClass("wi-rain") };
                        if(data.currently.icon == 'snow') { $("#currentIcon").addClass("wi-snow") };
                        if(data.currently.icon == 'sleet') { $("#currentIcon").addClass("wi-day-sleet") };
                        if(data.currently.icon == 'wind') { $("#currentIcon").addClass("wi-day-windy") };
                        if(data.currently.icon == 'fog') { $("#currentIcon").addClass("wi-fog") };
                        if(data.currently.icon == 'cloudy') { $("#currentIcon").addClass("wi-cloudy") };
                        if(data.currently.icon == 'partly-cloudy-day') { $("#currentIcon").addClass("wi-day-cloudy") };
                        if(data.currently.icon == 'partly-cloudy-night') { $("#currentIcon").addClass("wi-night-cloudy") };
                        if(data.currently.icon == 'hail') { $("#currentIcon").addClass("wi-hail") };
                        if(data.currently.icon == 'thunderstorm') { $("#currentIcon").addClass("wi-thunderstorm") };
                        if(data.currently.icon == 'tornado') { $("#currentIcon").addClass("wi-meteor") };
					$("#humidity").append(data.currently.humidity);
					$("#currentWind").append(data.currently.windSpeed);
                    $("#hourlySummary").append(data.hourly.summary);
					$("#currentSummary").append(data.currently.summary);
					$("#daily_summary").append(data.daily.summary);
					$("weekly").append(data.daily.data[0].apparentTemperatureMax);
			  	},
			  	error: function() {
			    	alert("An error occurred");
			  	}
			});
		});
	</script>
	
	<script>
	$("#grades").click(function () {

		// Set the effect type
		var effect = 'slide';

		// Set the options for the effect type chosen
		var options = { direction: $('#fourthYear').val() };

		// Set the duration (default: 400 milliseconds)
		var duration = 500;

		$('#myDiv').toggle(effect, options, duration);
	});
	</script>
</html>